:root {
  --glitch-red: rgba(255,85,0, 0.5);
  --glitch-blue: rgba(60, 85, 255, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
	background: #f5f5f5;
}

button {
	margin-bottom: 40px;
}

@media only screen and (min-width: 631px) {
	h2::before { 
	  display: block; 
	  content: " "; 
	  margin-top: -205px; 
	  height: 205px; 
	  visibility: hidden; 
	  pointer-events: none;
	}
}



h2 {
	font-variant-ligatures: no-common-ligatures;
}

h3 {
	font-variant-ligatures: no-common-ligatures;
}

h4 {
	font-variant-ligatures: no-common-ligatures;
}


.sheetContainer {
  margin: auto;
  width: 86%;
  margin-top: 180px;
}

@media only screen and (max-width: 630px) {
	.sheetContainer {
    width: 90%;
		margin-top: 120px;
	}
}

@media only screen and (max-width: 490px) {
	.sheetContainer {
    width: 94%;
		margin-top: 80px;
	}
}

@media only screen and (max-width: 342px) {
	.sheetContainer {
		margin-top: 30px;
	}
}


.sheetContainer > div {
	background: white;
}

.sheet {
	margin: 100px 40px;
  padding: 1.5em 3em;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}


.sick {
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-out 0.4s;
}

.badnews {
  opacity: 0;
  transition: all 0.3s ease;
}

.badnewsShow {
  opacity: 1;
}

.sickShow {
  opacity: 1;
}

.illnesses {
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
}

.illnessesShow {
  height: auto;
  max-height: 10em;
  margin: 0.8em 0;
  transition: max-height 2s linear, margin 0.3s linear;
}

.cyberwrapper {
  overflow: hidden;
}

.cyberwrappershow {
}

.cyberperson {
	padding-left: 8%;
  padding-right: 5%;
  padding-top: 0;
  opacity: 0;
  height: 0;
  max-height: 0;
  margin-top: -0.3em;
  margin-bottom: 0.3em;
  transition: max-height 2s linear 1.6s, opacity 0.2s ease 2s;
}

.cyberpersonshow {
  opacity: 1;
  height: auto;
  max-height: 22em;
}

.cybertitle {
  padding: 0;
  padding-left: 3%;
  opacity: 0;
  transition: max-height 2s linear, opacity 0.2s ease 0.5s;
  height: 0;
  max-height: 0;
  margin: 0em;
}


.cybershow {
  opacity: 1;
  height: auto;
  max-height: 22em;
  margin: 0.4em;
  animation-name: glitch;
  animation-duration: 4s;
  animation-delay: 0.3s;
}

.fadetransition {
  transition: opacity 100ms ease-out;
}

.joketransition {
  transition: opacity 500ms ease-out, max-height 0.4s ease-out;
  max-height: 2em;
  margin-top: 0;
}

.fadedout {
  opacity: 0;
}

#illnessButton {
  margin-top: 14px;
}

#cyberpunks {
	margin-bottom: 30px;
}

#cyberIntro {
	padding-bottom: 0px;
}

#cyberOutcome {
	padding-top: 0px;
}

#cyberpunkSheet p {
  line-height: 1.3;
}

#bullyResult {
  text-align: center;
}

#illnessSheet {
  animation-duration: 0.8s; 
}

#bullySheet {
  animation-duration: 1s; 
}

#cyberpunkSheet {
  animation-duration: 1.2s;

  --skew-1: -50deg;
  --skew-2: 50deg;

  --offset1: -2em;
  --offset2: -2em;
  --offset3: 2em;
  --offset4: 2em;
  --offset5: 2em;
  --offset6: 2em;
  --offset7: 0em;
  --offset8: 0em;
}

#dadjokeSheet {
  animation-duration: 1.4s; 
}



.hiddenzinger {
  transition: opacity 0ms, max-height 0.2s ease-out;
	height: auto;
  max-height: 0;
  opacity: 0;
  margin: 0;
}

.haha {
  	font-weight: 200;
  	font-variant-ligatures: no-common-ligatures;
  	display: inline-block;
}

.firsthaha {
	animation-delay: 0.9s;
}


#theJoke p {
	font-size: 1.3em;
}

#jokeBtn {
	margin-top: 0.5em;
}

#theList {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 630px) {
	.cyberList{
		padding-left: 0;
		margin-left: 0;
	}
}


@keyframes waggle {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: black;
  }

  15%,
  65% {
    -webkit-transform: scale(1, 1.6);
    transform: scale(1, 1.6);
  }

  50%
   {
    -webkit-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
  }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes waggle {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: black;
  }

  15%,
  65% {
    -webkit-transform: scale(1, 1.6);
    transform: scale(1, 1.6);
  }

  50%
   {
    -webkit-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
  }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.waggle {
  -webkit-animation-name: waggle;
  animation-name: waggle;
  animation-duration: 0.8s; 
  transform-origin: bottom;
}


/*animate.css animations*/


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  animation-duration: 0.5s;
}


@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}



/*glitch animation adapted from https://codepen.io/anon/pen/REqMQv*/


@-webkit-keyframes glitch {
  10%{
    text-shadow: 0.1em -0.1em 0px var(--glitch-blue);
  }
  12%{
    text-shadow: -0.1em 0.1em 0px var(--glitch-red); 
  }
  0%, 8%, 14%{
    text-shadow: none;
  }
  11%,12%{
    transform: translate(-0.2em,0.2em);
  }
  12%,13%{
    transform: translate(0.2em,-0.2em);
  }
  11%,13%{
    transform: translatex(0);
  }
  
  20%{
    text-shadow: 0.1em 0.1em 0px var(--glitch-blue);
    
  }
  22%{
    text-shadow: -0.1em -0.1em 0px var(--glitch-red);  
    
  }
  18%, 24%{
    text-shadow: none;
  }
  19%,22%{
    transform: translatex(0);
  }
  20%{
    transform: translate(0.2em,0.2em);
  }
  21%{
    transform: translate(-0.2em,-0.2em);
  }
}

@keyframes glitch {
  10%{
    text-shadow: 0.1em -0.1em 0px var(--glitch-blue);
  }
  12%{
    text-shadow: -0.1em 0.1em 0px var(--glitch-red); 
  }
  0%, 8%, 14%{
    text-shadow: none;
  }
  11%,12%{
    transform: translate(var(--offset1),var(--offset2)) skewX(var(--skew-1));
  }
  12%,13%{
    transform: translate(var(--offset3),var(--offset4)) skewX(var(--skew-1));
  }
  11%,13%{
    transform: skewX(0);
  }
  
  20%{
    text-shadow: 0.1em 0.1em 0px var(--glitch-blue);
    
  }
  22%{
    text-shadow: -0.1em -0.1em 0px var(--glitch-red);  
    
  }
  18%, 24%{
    text-shadow: none;
  }
  19%,22%{
    transform: translatex(0);
    transform: skewX(0);
  }
  20%{
    transform: translate(var(--offset5),var(--offset6)) skewX(var(--skew-2));
  }
  21%{
    transform: translate(var(--offset7),var(--offset8)) skewX(var(--skew-2));
  }
}

.glitch {
  animation-name: glitch;
  animation-duration: 3s;
  animation-delay: 300ms;
}

@keyframes burn-in {
  0%{
    opacity: 0;
    color: #990000;
    text-shadow: 0 0 0 red;
  }

  40%{
    opacity: 1;
    color: #990000;
    text-shadow: 0 0 0.4em red;
  }


  50% {
    text-shadow: 0 0 0.4em red;
  }


  80%{
    color: black;
  }

  100%{
    text-shadow: none;
  }

}

.burn-in {
  animation-name: burn-in;
  animation-duration: 2s;
  animation-delay: 100ms;
}